<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.augmentum.fishing.model.User">
    <resultMap type="User" id="userMap">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="icon" property="icon" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <resultMap type="com.augmentum.fishing.dto.UserDTO" id="userDTOMap">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="icon" property="icon" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO user
                (user_name, password, icon, created_time, updated_time)
            VALUES
                (#{userName}, #{password}, #{icon}, #{createdTime}, #{updatedTime})
        ]]>
    </insert>

    <select id="getById" parameterType="Integer" resultMap="userMap">
        <![CDATA[
            SELECT * FROM user WHERE id = #{id}
        ]]>
    </select>
    
    <update id="delete" parameterType="Integer">
        <![CDATA[
            UPDATE user SET is_deleted = 1 WHERE id = #{id}
        ]]>
    </update>

    <select id="getByName" parameterType="String" resultMap="userDTOMap">
        <![CDATA[
            SELECT * FROM user WHERE id = #{id}
        ]]>
    </select>

    <select id="findAll" resultMap="userDTOMap">
        <![CDATA[
            SELECT * FROM user
        ]]>
    </select>

</mapper>